fift -s build-config79.fif Ef89RybyKTkzymRTy_5LqRE5OCf4YFLuq-9vtAIjQ8cnsNac Ef_xo_FDolh1ylzBs5ljV5aGWqGRHn4nEL5yYFxaNx0zZwF0 0 0 Ef9MRHJj6JzkENaUJFRyJ7hWQDmqKakZf8icd7UV2gGvBPts 0xC6EE4A4A0E106963A841b94e56D18eD3474BEa16
                           jetton-bridge                                    multisig                                         ? ? oracle wallet                                    oracle wallet eth